.everything {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 50px;
}

img {
    max-width: 100px;
    max-height: 200px;
}

h1 {
    font-family: "Inconsolata", serif;
}