p {
    color: #5E3D34;
    font-family: Tenor Sans;
    text-align: center;
}

body {
    background-color: white;
}

.name {
    text-align: center;
}

.tenor-sans-regular {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.main-div {
    border: black 10px !important;
    padding-top: 10px;
}

.col {
    margin: 5px;
}

/* why isnt this working */