h1, p, a {
    font-family: "DotGothic16", serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
}

html {
    cursor: url("01Normal\ Select.ani"), auto;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
}

#goose {
    width: 150px;
}

#hearts {
    max-width: 80px;
    position: relative;
    margin-left: 55px;
    bottom: 50px;
}


.content {
    padding-top: 50px;
}